<main>
    <h1 class="text-uppercase">Hello World</h1>

    <hr>

    <h1 class="text-center">First title</h1>
    <h2>Second title</h2>
    <h3 class="text-end">Third title</h3>

    <hr>

    <div class="display-1">First title</div>
    <div class="display-3">Third title</div>
    <div class="display-5">Fifth title</div>

    <hr>

    <span class="text-muted">Additional text</span>

    <hr>

    <button class="btn btn-success">
        <span class="text-uppercase">Button success</span>
    </button>

    <hr>

    <p class="text-warning">My text</p>


    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-lg btn-secondary">Add</button>
            <button class="btn btn-sm btn-outline-secondary">Edit</button>
            <button class="btn  btn-outline-danger">Delete</button>
        </div>
    </div>

    <br>
    <hr>

    <div class="card">
        <div class="card-body">This is content</div>
    </div>

</main>