<main>
    <h1>
        <i class="bi bi-emoji-smile-upside-down-fill"></i>
    </h1>

    <div>
        <button class="btn btn-warning"><i class="bi bi-suit-club"></i></button>
    </div>
    <br>

    <div>
        <i class="fa-brands fa-cloudflare fa-2xl" style="color: #48acf9;"></i>
    </div>
    <br>

    <div>
        <img src="/svg/slack.svg" alt="slack">
    </div>

</main>