<main>
    <div class="row">
        <div class="col-12">

            <h3>List of pages</h3>
            <p>This is my pet project</p>

            <div class="row">
                <div class="col-3">
                    <a href="./summary" class="btn btn-primary my-2">Resume | Summary</a>
                    <a href="./skills" class="btn btn-primary">Resume | Skills</a>
                    <a href="./education" class="btn btn-primary my-2">Resume | Education</a>
                    <a href="./work" class="btn btn-primary">Resume | Work</a>
                </div>
                <div class="col-4">
                    <a href="./person" class="btn btn-primary my-2">Person</a>
                    <a href="./program" class="btn btn-outline-primary">Program</a>
                    <a href="./bio" class="btn btn-primary my-2">Bio</a>
                    <a href="./web" class="btn btn-outline-primary">Web</a>
                    <a href="./facebook" class="btn btn-outline-primary my-2">Facebook</a>
                    <a href="./mac" class="btn btn-primary">Mac</a>
                    <a href="./car" class="btn btn-outline-primary my-2">Car</a>
                    <a href="./js" class="btn btn-primary">JS</a>
                    <a href="./task21" class="btn btn-primary my-2">Links</a>
                    <a href="./task22" class="btn btn-outline-primary">InnovaMind</a>
                    <a href="./task31" class="btn btn-primary my-2">Business</a>
                </div>
                <div class="col-3">
                    <a href="./shophome" class="btn btn-primary">Shop | Home</a>
                    <a href="./shopproduct" class="btn btn-primary my-2">Shop | Product</a>
                    <a href="./shopnews" class="btn btn-primary">Shop | News</a>
                    <a href="./shoporder" class="btn btn-primary my-2">Shop | Order</a>
                    <a href="./shopprofile" class="btn btn-primary">Shop | Profile</a>
                    <a href="./shopreview" class="btn btn-primary my-2">Shop | Review</a>
                    <a href="./shopcatalog" class="btn btn-primary">Shop | Catalog</a>
                </div>
            </div>

        </div>
    </div>
    </div>
</main>